<template>
  <div>
      <p v-if="num === 0">{{ num }}</p>
      <p v-else-if="num > 0">The number is positive</p>
      <p v-else-if="num < 0">The number is negative</p>
      <p v-else>The number is a lie</p>

      <button @click="awesome = !awesome">Toggle</button>
      <h1 v-if="awesome">Vue is Awesome? 😄</h1>
      <h1 v-else>Oh no!😅</h1>

      <!-- The Nested template element -->
      <template v-if="display">
          <div>
              <h2>Notice</h2>
              <p>Thankyou</p>
          </div>
      </template>

  </div>
</template>

<script>
  // Config Data Object
  export default { 
  name: "ConditionView",
  data() {
      return {
          num: "P",
          awesome: 'awesome',
          display: true
      }
  },
      
  }
</script>